# Import Necessary Libraries

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dataset

In [11]:
ipl_df = pd.read_csv('cricket_data.csv')
print(f"Dataset successfully Imported of Shape : {ipl_df.shape}")

Dataset successfully Imported of Shape : (448, 43)

# Exploratory Data Analysis

In [12]:
# First 5 Columns Data
ipl_df.head()

,season,id,name,shortname,desc,home,away,toss won,descision,1st inn,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
0,2023,1359541,Delhi Capitals v Chennai Super Kings,DC v CSK,"67th Match (D/N), Indian Premier League at Del...",DC,CSK,CSK,BAT FIRST,223/3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023,1359538,Punjab Kings v Delhi Capitals,PBKS v DC,"64th Match (N), Indian Premier League at Dhara...",PBKS,DC,PBKS,BOWL FIRST,213/2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023,1359537,Lucknow Super Giants v Mumbai Indians,LSG v MI,"63rd Match (N), Indian Premier League at Luckn...",LSG,MI,MI,BOWL FIRST,177/3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023,1359536,Gujarat Titans v Sunrisers Hyderabad,GT v SRH,"62nd Match (N), Indian Premier League at Ahmed...",GT,SRH,SRH,BOWL FIRST,188/9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023,1359534,Rajasthan Royals v Royal Challengers Bangalore,RR v RCB,"60th Match (D/N), Indian Premier League at Jai...",RR,RCB,RCB,BAT FIRST,171/5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Describing the ipl_dfset
ipl_df.describe()

,season,id,venue ID,H Over,H run,H wkt,H boundary,away over,away run,away wckt,...,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42
count,448.000000,4.480000e+02,4.480000e+02,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,448.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2015.546875,8.626438e+05,1.337834e+05,19.610938,164.787946,6.627232,20.176339,19.463393,159.578125,6.758929,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.713021,3.570634e+05,1.764066e+05,1.425272,33.360510,2.236942,6.410469,1.850279,33.398525,2.290904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2008.000000,3.359820e+05,5.785100e+04,8.000000,59.000000,1.000000,3.000000,6.000000,49.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2011.000000,5.012708e+05,5.800800e+04,20.000000,143.000000,5.000000,16.000000,20.000000,137.000000,5.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2015.000000,8.297860e+05,5.814200e+04,20.000000,166.000000,7.000000,20.000000,20.000000,160.000000,7.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2020.000000,1.216510e+06,5.909125e+04,20.000000,188.250000,8.000000,25.000000,20.000000,181.250000,9.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2023.000000,1.359541e+06,1.070094e+06,20.000000,263.000000,10.000000,42.000000,20.000000,257.000000,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Information about Each Column
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 43 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   season       448 non-null    int64
 1   id           448 non-null    int64
 2   name         448 non-null    object
 3   shortname    448 non-null    object
 4   desc         448 non-null    object
 5   home         448 non-null    object
 6   away         448 non-null    object
 7   toss won     448 non-null    object
 8   descision    448 non-null    object
 9   1st inn      448 non-null    object
 10  2nd inn      448 non-null    object
 11  winner       448 non-null    object
 12  res          448 non-null    object
 13  start        448 non-null    object
 14  end          448 non-null    object
 15  venue ID     448 non-null    int64
 16  venue name   448 non-null    object
 17  home cpt     448 non-null    object
 18  away cpt     448 non-null    object
 19  PoM          448 non-null    object
 20  points       422 non-null    object
 21  SUP OVER     448 non-null    bool
 22  H Over       448 non-null    float64
 23  H run        448 non-null    int64
 24  H wkt        448 non-null    int64
 25  H boundary   448 non-null    int64
 26  away over    448 non-null    float64
 27  away run     448 non-null    int64
 28  away wckt    448 non-null    int64
 29  away bndry   448 non-null    int64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  0 non-null      float64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
 41  Unnamed: 41  0 non-null      float64
 42  Unnamed: 42  0 non-null      float64
dtypes: bool(1), float64(15), int64(9), object(18)
memory usage: 147.6+ KB

In [15]:
# Number of Unique Values in each column
ipl_df.nunique()

season          16
id             448
name           147
shortname      115
desc           448
home            15
away            15
toss won        15
descision        2
1st inn        329
2nd inn        304
winner          14
res            346
start          448
end            402
venue ID        34
venue name      36
home cpt        54
away cpt        55
PoM            188
points         136
SUP OVER         1
H Over          28
H run          130
H wkt           10
H boundary      34
away over       36
away run       136
away wckt       11
away bndry      34
Unnamed: 30      0
Unnamed: 31      0
Unnamed: 32      0
Unnamed: 33      0
Unnamed: 34      0
Unnamed: 35      0
Unnamed: 36      0
Unnamed: 37      0
Unnamed: 38      0
Unnamed: 39      0
Unnamed: 40      0
Unnamed: 41      0
Unnamed: 42      0
dtype: int64

In [16]:
# ipl_df types of all Columns
ipl_df.dtypes

season           int64
id               int64
name            object
shortname       object
desc            object
home            object
away            object
toss won        object
descision       object
1st inn         object
2nd inn         object
winner          object
res             object
start           object
end             object
venue ID         int64
venue name      object
home cpt        object
away cpt        object
PoM             object
points          object
SUP OVER          bool
H Over         float64
H run            int64
H wkt            int64
H boundary       int64
away over      float64
away run         int64
away wckt        int64
away bndry       int64
Unnamed: 30    float64
Unnamed: 31    float64
Unnamed: 32    float64
Unnamed: 33    float64
Unnamed: 34    float64
Unnamed: 35    float64
Unnamed: 36    float64
Unnamed: 37    float64
Unnamed: 38    float64
Unnamed: 39    float64
Unnamed: 40    float64
Unnamed: 41    float64
Unnamed: 42    float64
dtype: object

In [17]:
#Wickets Distribution
sns.displot(ipl_df['wickets'],kde=False,bins=10)
plt.title("Wickets Distribution")

plt.show()

KeyError: 'wickets'

In [9]:
#Runs Distribution
sns.displot(ipl_df['total'],kde=False,bins=10)
plt.title("Runs Distribution")

plt.show()

KeyError: 'total'

# Data Cleaning

### 1. Removing Irrelevant Data colunms

In [ ]:
# Names of all columns
ipl_df.columns

Here, we can see that columns ['mid', 'date', 'venue', 'batsman', 'bowler', 'striker', 'non-striker'] won't provide any relevant information for our model to train

In [ ]:
irrelevant = ['home', 'away', 'venue','res', 'home cpt', 'away cpt', 'H run']
print(f'Before Removing Irrelevant Columns : {ipl_df.shape}')
'''ipl_df = ipl_df.drop(irrelevant, axis=1) # Drop Irrelevant Columns
print(f'After Removing Irrelevant Columns : {ipl_df.shape}')'''
ipl_df.head()

### 2. Keeping only Consistent Teams

In [ ]:
# Define Consistent Teams
const_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
              'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
              'Delhi Daredevils', 'Sunrisers Hyderabad']

In [ ]:
print(f'Before Removing Inconsistent Teams : {ipl_df.shape}')
ipl_df = ipl_df[(ipl_df['bat_team'].isin(const_teams)) & (ipl_df['bowl_team'].isin(const_teams))]
print(f'After Removing Irrelevant Columns : {ipl_df.shape}')
print(f"Consistent Teams : \n{ipl_df['bat_team'].unique()}")
ipl_df.head()

### 3. Remove First 5 Overs of every match

In [ ]:
print(f'Before Removing Overs : {ipl_df.shape}')
ipl_df = ipl_df[ipl_df['overs'] >= 5.0]
print(f'After Removing Overs : {ipl_df.shape}')
ipl_df.head()

In [ ]:
from seaborn import heatmap
heatmap(data=ipl_df.corr(), annot=True)

# Data Preprocessing and Encoding

### 1. Performing Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
for col in ['bat_team', 'bowl_team']:
  ipl_df[col] = le.fit_transform(ipl_df[col])
ipl_df.head()

### 2. Performing One Hot Encoding and Column Transformation

In [ ]:
from sklearn.compose import ColumnTransformer
columnTransformer = ColumnTransformer([('encoder', 
                                        OneHotEncoder(), 
                                        [0, 1])], 
                                      remainder='passthrough')

In [ ]:
ipl_df = np.array(columnTransformer.fit_transform(ipl_df))

### 3. Save the Numpy Array in a new DataFrame with transformed columns

In [ ]:
cols = ['batting_team_Chennai Super Kings', 'batting_team_Delhi Daredevils', 'batting_team_Kings XI Punjab',
              'batting_team_Kolkata Knight Riders', 'batting_team_Mumbai Indians', 'batting_team_Rajasthan Royals',
              'batting_team_Royal Challengers Bangalore', 'batting_team_Sunrisers Hyderabad',
              'bowling_team_Chennai Super Kings', 'bowling_team_Delhi Daredevils', 'bowling_team_Kings XI Punjab',
              'bowling_team_Kolkata Knight Riders', 'bowling_team_Mumbai Indians', 'bowling_team_Rajasthan Royals',
              'bowling_team_Royal Challengers Bangalore', 'bowling_team_Sunrisers Hyderabad', 'runs', 'wickets', 'overs',
       'runs_last_5', 'wickets_last_5', 'total']
df = pd.DataFrame(ipl_df, columns=cols)

In [ ]:
# Encoded Data
df.head()

# Model Building

### 1. Prepare Train and Test Data

In [ ]:
features = df.drop(['total'], axis=1)
labels = df['total']

In [ ]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.20, shuffle=True)
print(f"Training Set : {train_features.shape}\nTesting Set : {test_features.shape}")

### 2. ML Algorithms

In [ ]:
models = dict()

#### a) Decision Tree Regressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
# Train Model
tree.fit(train_features, train_labels)

In [ ]:
# Evaluate Model
train_score_tree = str(tree.score(train_features, train_labels) * 100)
test_score_tree = str(tree.score(test_features, test_labels) * 100)
print(f'Train Score : {train_score_tree[:5]}%\nTest Score : {test_score_tree[:5]}%')
models["tree"] = test_score_tree

In [ ]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("---- Decision Tree Regressor - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, tree.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, tree.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, tree.predict(test_features)))))

#### b) Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
# Train Model
linreg.fit(train_features, train_labels)

In [ ]:
# Evaluate Model
train_score_linreg = str(linreg.score(train_features, train_labels) * 100)
test_score_linreg = str(linreg.score(test_features, test_labels) * 100)
print(f'Train Score : {train_score_linreg[:5]}%\nTest Score : {test_score_linreg[:5]}%')
models["linreg"] = test_score_linreg

In [ ]:
print("---- Linear Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, linreg.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, linreg.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, linreg.predict(test_features)))))

#### c) Random Forest Regression

In [ ]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor()
# Train Model
forest.fit(train_features, train_labels)

In [ ]:
# Evaluate Model
train_score_forest = str(forest.score(train_features, train_labels)*100)
test_score_forest = str(forest.score(test_features, test_labels)*100)
print(f'Train Score : {train_score_forest[:5]}%\nTest Score : {test_score_forest[:5]}%')
models["forest"] = test_score_forest

In [ ]:
print("---- Random Forest Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, forest.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, forest.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, forest.predict(test_features)))))

#### d) Support Vector Machine

In [ ]:
from sklearn.svm import SVR
svm = SVR()
# Train Model
svm.fit(train_features, train_labels)

In [ ]:
train_score_svm = str(svm.score(train_features, train_labels)*100)
test_score_svm = str(svm.score(test_features, test_labels)*100)
print(f'Train Score : {train_score_svm[:5]}%\nTest Score : {test_score_svm[:5]}%')
models["svm"] = test_score_svm

In [ ]:
print("---- Support Vector Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, svm.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, svm.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, svm.predict(test_features)))))

#### e) XGBoost

In [ ]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
# Train Model
xgb.fit(train_features, train_labels)

In [ ]:
train_score_xgb = str(xgb.score(train_features, train_labels)*100)
test_score_xgb = str(xgb.score(test_features, test_labels)*100)
print(f'Train Score : {train_score_xgb[:5]}%\nTest Score : {test_score_xgb[:5]}%')
models["xgb"] = test_score_xgb

In [ ]:
print("---- XGB Regression - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, xgb.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, xgb.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, xgb.predict(test_features)))))

#### f) KNR

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor()
# Train Model
knr.fit(train_features, train_labels)

In [ ]:
train_score_knr = str(knr.score(train_features, train_labels)*100)
test_score_knr = str(knr.score(test_features, test_labels)*100)
print(f'Train Score : {train_score_knr[:5]}%\nTest Score : {test_score_knr[:5]}%')
models["knr"] = test_score_knr

In [ ]:
print("---- KNR - Model Evaluation ----")
print("Mean Absolute Error (MAE): {}".format(mae(test_labels, knr.predict(test_features))))
print("Mean Squared Error (MSE): {}".format(mse(test_labels, knr.predict(test_features))))
print("Root Mean Squared Error (RMSE): {}".format(np.sqrt(mse(test_labels, knr.predict(test_features)))))

# Best Model

In [ ]:
import matplotlib.pyplot as plt 
model_names = list(models.keys())
accuracy = list(map(float, models.values()))
# creating the bar plot
plt.bar(model_names, accuracy)

From above, we can see that Random Forest performed the best, closely followed by Decision Tree and KNR. So we will be choosing Random Forest for the final model

# Predictions

In [ ]:
def score_predict(batting_team, bowling_team, runs, wickets, overs, runs_last_5, wickets_last_5, model=forest):
  prediction_array = []
  # Batting Team
  if batting_team == 'Chennai Super Kings':
    prediction_array = prediction_array + [1,0,0,0,0,0,0,0]
  elif batting_team == 'Delhi Daredevils':
    prediction_array = prediction_array + [0,1,0,0,0,0,0,0]
  elif batting_team == 'Kings XI Punjab':
    prediction_array = prediction_array + [0,0,1,0,0,0,0,0]
  elif batting_team == 'Kolkata Knight Riders':
    prediction_array = prediction_array + [0,0,0,1,0,0,0,0]
  elif batting_team == 'Mumbai Indians':
    prediction_array = prediction_array + [0,0,0,0,1,0,0,0]
  elif batting_team == 'Rajasthan Royals':
    prediction_array = prediction_array + [0,0,0,0,0,1,0,0]
  elif batting_team == 'Royal Challengers Bangalore':
    prediction_array = prediction_array + [0,0,0,0,0,0,1,0]
  elif batting_team == 'Sunrisers Hyderabad':
    prediction_array = prediction_array + [0,0,0,0,0,0,0,1]
    # Bowling Team
  if bowling_team == 'Chennai Super Kings':
    prediction_array = prediction_array + [1,0,0,0,0,0,0,0]
  elif bowling_team == 'Delhi Daredevils':
    prediction_array = prediction_array + [0,1,0,0,0,0,0,0]
  elif bowling_team == 'Kings XI Punjab':
    prediction_array = prediction_array + [0,0,1,0,0,0,0,0]
  elif bowling_team == 'Kolkata Knight Riders':
    prediction_array = prediction_array + [0,0,0,1,0,0,0,0]
  elif bowling_team == 'Mumbai Indians':
    prediction_array = prediction_array + [0,0,0,0,1,0,0,0]
  elif bowling_team == 'Rajasthan Royals':
    prediction_array = prediction_array + [0,0,0,0,0,1,0,0]
  elif bowling_team == 'Royal Challengers Bangalore':
    prediction_array = prediction_array + [0,0,0,0,0,0,1,0]
  elif bowling_team == 'Sunrisers Hyderabad':
    prediction_array = prediction_array + [0,0,0,0,0,0,0,1]
  prediction_array = prediction_array + [runs, wickets, overs, runs_last_5, wickets_last_5]
  prediction_array = np.array([prediction_array])
  pred = model.predict(prediction_array)
  return int(round(pred[0]))

## Test 1

#### Batting Team : Delhi Daredevils
#### Bowling Team : Chennai Super Kings
#### Final Score : 147/9

In [ ]:
batting_team='Delhi Daredevils'
bowling_team='Chennai Super Kings'
score = score_predict(batting_team, bowling_team, overs=10.2, runs=68, wickets=3, runs_last_5=29, wickets_last_5=1)
print(f'Predicted Score : {score} || Actual Score : 147')

## Test 2
#### Batting Team : Mumbai Indians
#### Bowling Team : Kings XI Punjab
#### Final Score : 176/7

In [ ]:
batting_team='Mumbai Indians'
bowling_team='Kings XI Punjab'
score = score_predict(batting_team, bowling_team, overs=12.3, runs=113, wickets=2, runs_last_5=55, wickets_last_5=0)
print(f'Predicted Score : {score} || Actual Score : 176')

## Test 3
#### Batting Team : Kings XI Punjab
#### Bowling Team : Rajasthan Royals
#### Final Score : 185/4

These Test Was done before the match and final score were added later.

In [ ]:
batting_team="Kings XI Punjab"
bowling_team="Rajasthan Royals"
score =score_predict(batting_team, bowling_team, overs=14.0, runs=118, wickets=1, runs_last_5=45, wickets_last_5=0)
print(f'Predicted Score : {score} || Actual Score : 185')

## Test 4
#### Batting Team : Kolkata Knight Riders
#### Bowling Team : Chennai Super Kings
#### Final Score : 172/5

In [ ]:
batting_team="Kolkata Knight Riders"
bowling_team="Chennai Super Kings"
score = score_predict(batting_team, bowling_team, overs=18.0, runs=150, wickets=4, runs_last_5=57, wickets_last_5=1)
print(f'Predicted Score : {score} || Actual Score : 172')

## Test 5
#### Batting Team : Delhi Daredevils
#### Bowling Team : Mumbai Indians
#### Final Score : 110/7

In [ ]:
batting_team='Delhi Daredevils'
bowling_team='Mumbai Indians'
score = score_predict(batting_team, bowling_team, overs=18.0, runs=96, wickets=8, runs_last_5=18, wickets_last_5=4)
print(f'Predicted Score : {score} || Actual Score : 110')

## Test 6
#### Batting Team : Kings XI Punjab
#### Bowling Team : Chennai Super Kings
#### Final Score : 153/9

In [ ]:
batting_team='Kings XI Punjab'
bowling_team='Chennai Super Kings'
score = score_predict(batting_team, bowling_team, overs=18.0, runs=129, wickets=6, runs_last_5=34, wickets_last_5=2)
print(f'Predicted Score : {score} || Actual Score : 153')

## Test 7
#### Batting Team : Sunrisers Hyderabad
#### Bowling Team : Royal Challengers Banglore
#### Final Score : 146/10

In [ ]:
batting_team='Sunrisers Hyderabad'
bowling_team='Royal Challengers Bangalore'
score = score_predict(batting_team, bowling_team, overs=10.5, runs=67, wickets=3, runs_last_5=29, wickets_last_5=1)
print(f'Predicted Score : {score} || Actual Score : 146')

# Export Model

In [ ]:
import pickle
filename = "ml_model.pkl"
pickle.dump(forest, open(filename, "wb"))